security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Domain\User\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        login:
            pattern: '^/[a-z]{2}/auth/login$'
            stateless: true
            json_login:
                check_path: api_auth_login
                username_path: username
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: '^/[a-z]{2}/'
            stateless: true
            jwt: ~

        main:
            lazy: true

    access_control:
        # Public routes (with locale prefix)
        - { path: '^/[a-z]{2}/auth/login$', roles: PUBLIC_ACCESS }
        - { path: '^/[a-z]{2}/auth/register$', roles: PUBLIC_ACCESS }
        - { path: '^/[a-z]{2}/auth/register/looks$', roles: PUBLIC_ACCESS }
        - { path: '^/[a-z]{2}/user/look$', roles: PUBLIC_ACCESS }
        - { path: '^/[a-z]{2}/user/online$', roles: PUBLIC_ACCESS }
        - { path: '^/[a-z]{2}/settings/', roles: PUBLIC_ACCESS }
        # All other API routes require authentication
        - { path: '^/[a-z]{2}/', roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
