security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Domain\User\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        login:
            pattern: '^/[a-z]{2}/auth/login$'
            stateless: true
            user_checker: App\Infrastructure\Security\UserChecker\BannedUserChecker
            json_login:
                check_path: api_auth_login
                username_path: username
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: '^/[a-z]{2}/'
            stateless: true
            user_checker: App\Infrastructure\Security\UserChecker\BannedUserChecker
            jwt: ~

        main:
            lazy: true

    # Routes are PUBLIC by default - use #[IsGranted] on controllers for protected routes
    access_control: []

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
